.slider-container {
  /* z-index: 9; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}
.slider-image {
  /* position: absolute; */
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.slider-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 150px;
}

.slider-content-second {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: -125px 0px 0px 100px;
}

.slider-title {
  font-size: 80px;
  color: #eccada;
  animation-name: text-animation;
  animation-duration: 3s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
  position: relative;
  font-family: "Satisfy", cursive;
  font-weight: 100;
}

.slider-title-second {
  font-size: 80px;
  color: #eccada;
  animation-name: text-animation;
  animation-duration: 3s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
  font-family: "Satisfy", cursive;
  font-weight: 100;
  position: relative;
  margin: 150px 0 0 10px;
}

.slider-text {
  color: #fff;
  animation-name: text-animation;
  animation-duration: 3s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
  margin-top: -25px;
}

.slider-text-second {
  color: #fff;
  animation-name: text-animation;
  animation-duration: 3s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.slider-button {
  padding: 20px 50px;
  font-size: 30px;
  border: none;
  color: rgba(255, 255, 255, 0.548);
  cursor: pointer;
  outline: none;
  border-radius: 5px;
  animation-name: text-animation;
  animation-duration: 3s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
  margin-top: 40px;
  transition: ease 0.7s;
  border: 2px solid rgba(86, 100, 86, 0.253);
  background: rgba(255, 255, 255, 0.113);
  backdrop-filter: blur(1px);
  border: 2px solid rgba(68, 82, 68, 0.438);
}

.slider-button:hover {
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(18, 65, 38, 0.33);
  backdrop-filter: blur(4px);
}

@keyframes text-animation {
  0% {
    opacity: 0;
    left: -100px;
  }

  100% {
    opacity: 1;
    left: 3%;
  }
}
